body{
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    width: 100%;
    padding: 10px;

    text-align: center;
    line-height: 50px;

    font-size: 30px;
    margin-bottom: 5px;
}
main section{
    width: 60%;
    margin: 0 auto;

    font-size: 20px;
}
main section h2{
    margin: 0;
    text-align: center;
}