body{
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    width: 100%;
    padding: 10px;

    text-align: center;
    line-height: 50px;

    font-size: 30px;
    margin-bottom: 5px;
}
main{
    padding: 2px;
    margin-bottom: 10px;
}
main section{
    width: 60%;
    margin: 5px auto;

    font-size: 20px;
    padding: 10px;
    border: 5px;
    border-color: white;
    border-style: groove;
}
main section h2{
    margin: 0;
    text-align: center;
}
main section form table tr td:first-child{
    width: 40%;
}
main section form table tr td:last-child{
    width: 60%;
}
main section form table tr td:last-child input,
main section form table tr td:last-child button{
    width: 100%;
}
main section form table tr td:last-child input#baca{
    width: 60%;
    text-align: left;
}
main section form table tr td:last-child{
    text-align: left;
}