* {
    text-align: justify;
}

header, nav, main, footer{
    border-radius: 10px;
}

/*Media Queries*/
@media screen and (max-width: 768px){
    body{
        margin: 0;
        width: 100% !important;
    }
    header, nav, aside, main, article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header{
        padding-top: 20px;
    }
    nav ul li#hamburger{
        display: block !important;
    }
    nav#utama{
        display: none;
    }
}

/*Halaman Web*/
body{
    width: 1024px;
    margin: 10px auto 0 auto;
}

/*Penambahan Flex Website*/
header, nav ul, main, article{
    display: flex;
}

/*Bagian Header*/
header{
    margin-bottom: 5px;
}
header img{
    width: 25%;
    height: 100%;
}
header h1{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 10px;
    width: 100%;
}

/*Bagian Nav*/
nav{
    /*height: 50px;*/
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}
nav ul{
    height: 100%;
    margin: 0 50px;
    padding: 0;
    line-height: 50px;
    text-align: center;
}
nav ul li{
    margin: 0 50px;
    list-style-type: none;
}
nav ul li#hamburger{
    display: none;
}
nav ul li a{
    text-decoration: none;
}

/*Bagian Main*/
main{
    margin-bottom: 5px;
}

/*Bagian Article*/
article{
    flex-direction: column;
    margin-right: 5px;
}

/*Bagian Article*/
article section{
    padding: 10px;
    margin: 5px 0 5px 5px;
    border-radius: 5px;
}
article section h2{
    text-align: center;
}

/*Bagian Aside*/
aside{
    padding: 10px;
    margin: 5px 0;
}
aside h3{
    text-align: center;
}
aside tr td:first-child{
    font-weight: bold;
}
aside tr td:last-child{
    font-size: 11px;
}

/*Bagian Footer*/
footer{
    padding: 10px 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}