/*Halaman Web*/
body{
    width: 1024px;
    margin: 10px auto 0 auto;
}

/*Penambahan Flex Website*/
header, nav ul, main, article{
    display: flex;
}

/*Bagian Header*/
header{
    height: 100px;
}
header img{
    width: 25%;
    height: 100%;
}
header h1{
    line-height: 50px;
    margin-left: 10px;
    text-align: center;
    width: 100%;
}

/*Bagian Nav*/
nav{
    height: 50px;
    width: 100%;
    text-align: center;
}
nav ul{
    margin: 0 50px;
    padding: 0;
    line-height: 50px;
    text-align: center;
}
nav ul li{
    margin: 0 50px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: black;   
}

/*Bagian Main*/

/*Bagian Article*/
article{
    flex-direction: column;
}

/*Bagian Aside*/

/*Bagian Footer*/
footer{
    width: 100%;
    text-align: center;
}